.mainbtn
{
    -fx-background-color: #F36466;
    -fx-background-radius:100pt;
    -fx-border-radius:100pt;
    -fx-alignment:center;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}
.thongke{
    -fx-background-color: #3D5384;
    -fx-background-radius:20pt;
    -fx-border-radius:20pt;
    -fx-alignment:center;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
}

.btn
{
    -fx-background-color: #3D5384;
    -fx-background-radius:100pt;
    -fx-border-radius:100pt;
    -fx-alignment:center;
    -fx-pref-width: 85px;
    -fx-pref-height: 85px;
}
.btn:hover{
    -fx-background-color: #F36466;
}